.article {
    padding-bottom: 5rem;

    img {
        width: 100%;
        height: 300px;
    }
    &-tag {
        color: darken(#fff, 60%);
        padding: .5rem 0;
    }
    &-title {
        font-weight: bold;

        a{
            text-decoration: none;
            color: lighten(#000000, 30%);

            &:hover{
                color:#000000
            }
        }
    }
    &-link {
        &-btn {
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
}