@use "./customs" as *;

.intro {
    margin: 0;
    padding-top: 5rem;
    
    // @include media-breakpoint-up(md) {
    //     padding: 5rem 0;

    // }
    
    &-des{
        color: lighten(#000, 30%);
        font-size: 1.1rem;
    }    
}

.carousel-item {
    img {
        width: 100%;
        
        @include media-breakpoint-up(lg){
            width: 100%;
            height: 300px;
        }


    }
}